# Dependency directories
node_modules/
node_modules/.package-lock.json
package-lock.json

# Environment variable(s)
.env

# Operating System Files
.DS_Store
leaderboard.json
leaderboard.json
allEscapeRooms.json
