body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.hero-section {
    background-image: url('/images/pictureofescaperoom.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
}

.hero-section::before {
    content: ''; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1; 
  }

.title {
    position: relative;
    z-index: 2;
    padding-left: 5%;
    max-width: 45%;
    z-index: 2;
    text-transform: uppercase;
    text-shadow: 1px 3px 3px #454545;
    color: #ffffff;
    font-size: 58px;
    font-family: Arial, Helvetica, sans-serif;
    top: -24px;
}

.box-container {
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 2;
}

.game-selection, .leaderboard {
    width: 90%;
    margin-bottom: 20px;
}

#allEscapeRooms, #playerName, #startGameButton {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: content-box;
    border-radius: 6px;
}

#startGameButton {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

#startGameButton:hover {
    background-color: #777;
}

#leaderboardTitle {
    text-align: start;
}

#leaderboardTable {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #777
}

#leaderboardTable td, #leaderboardTable th {
    border: 2px solid #555;
    padding: 8px;
    text-align: center;
    color: white;
}

#adminButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
}

#adminButton:hover {
    background-color: #666;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); 
}

.modal-content {
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    padding: 40px; 
    border: 1px solid #888;
    width: 50%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%; 
    overflow-y: auto;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#adminPassword {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0 20px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

#submitPassword {
    width: 50%; 
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#submitPassword:hover {
    background-color: #45a049;
}