body {
    background-color: #0d0d0d;
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
    ), url('../images/escaperoomcompleted.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    background-color: rgba(33, 33, 33, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #f1c40f;
    width: 50%;
    position: relative;
    padding-bottom: 25px;
}
h2 {
    text-align: center;
    color: #f1c40f;
    margin-bottom: 16px;
    font-size: 2.5em;
}
h3 {
    color: #f1c40f;
    text-align: center;
    margin-bottom: 24px;
    font-size: 1.5em;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
th, td {
    border-bottom: 1px solid #f1c40f;
    padding: 12px 15px;
    text-align: center;
    color: #fff;
}
th {
    background-color: #212121;
    color: #f1c40f;
    font-size: 1.2em;
}
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}
.button {
    background-color: #f1c40f;
    color: black;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    display: block;
    margin: 24px auto 0;
}
.button:hover {
    background-color: #ffd700;
    color: #000;
    transform: scale(1.02);
}