body {
    background-color: #0b0c10;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
            ), url('/images/escaperoomie.jpg');
            background-size: cover;
            background-position: center;
}

.header {
    background-color: rgba(33, 33, 33, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    grid-column: span 2; /* Make the header span across both columns */
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 52px;
    color: rgba(207, 216, 220, 1);
    font-weight: bold;
    text-shadow: 0 0 20px rgba(207, 216, 220, 0.5),
                 2px 2px 0 rgba(13, 17, 23, 0.8);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        text-shadow: 0 0 8px rgba(207, 216, 220, 0.5), 2px 2px 0 rgba(13, 17, 23, 0.8);
    }
    50% {
        text-shadow: 0 0 20px rgba(207, 216, 220, 0.5), 2px 2px 0 rgba(13, 17, 23, 0.8);
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    text-align: center;
    grid-gap: 1px;
}

.wrapper > * {
    padding: 5px;
    margin: 5px;
    width: 100%;
}

.timerContainer, .spacer {
    flex-basis: 100px;
    display: flex;
    justify-content: center;
}

#timerDisplay {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(207, 216, 220, 1);
    font-size: 24px;
    text-shadow: 5px 5px 10px rgba(207, 216, 220, 0.5);
    padding: 10px;
    border: 5px;
    display: inline-block;
    position: absolute;
    left: 20px;
}

.instructions {
    background-color: rgba(13, 17, 23, 0.8);
    width: 100%;
    height: 475px;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
    color: rgba(207, 216, 220, 1);
}

.video-container {
    height: 500px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.video {
    background-color: #0b0c10;
    position: flex;
    height: 99%;
    width: 99%;
    overflow-x: hidden;
}

.footer {
    background-color: rgba(33, 33, 33, 0.1);
    height: 150px;
    grid-column: span 2; /* Make the footer span across both columns */
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    

input[type="text"] {
    width: 90%;
    padding: 10px; 
    margin: 10px 0; 
    border: 2px solid rgba(207, 216, 220, 0.5);
    border-radius: 5px; 
    color: #ffffff;
    background-color: rgba(13, 17, 23, 0.8);

    &:focus {
        border-color: rgba(207, 216, 220, 1); 
        box-shadow: 0 0 0 3px rgba(207, 216, 220, 0.5);
        outline: none;
    }
}

#startGameButton {
    padding: 20px;
    font-size: 20px; 
    color: rgba(207, 216, 220, 1); 
    background-color: rgba(13, 17, 23, 0.8);
    border: none; 
    border-radius: 7px;
    cursor: pointer; 
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
}

#startGameButton::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -75%;
    width: 200%;
    height: 200%;
    background: linear-gradient(30deg, rgba(207, 216, 220, 0) 30%, rgba(207, 216, 220, 0.4) 50%, rgba(207, 216, 220, 0) 70%);
    animation: shine 1.5s infinite ease-out;
}

@keyframes shine {
    0% {
        left: -75%;
    }
    50% {
        left: 125%;
    }
    100% {
        left: -75%;
    }
}

.buttons-column {
    flex-direction: column;
}

.buttons {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    padding: 15px;
    margin: 5px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 7px;
    border-style: solid;
    border: 2px solid rgba(207, 216, 220, 0.5);
    background-color: rgba(13, 17, 23, 0.8);
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
        background-color: rgba(13, 17, 23, 1);
        transform: translateY(-2px);
    }

    
    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    }
}

#continueButton {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(207, 216, 220, 1);
    cursor: pointer;
    border-radius: 7px;
    border-style: solid;
    border: 2px solid rgba(207, 216, 220, 0.5);
    background-color: rgba(13, 17, 23, 0.8);

    &:hover {
        background-color: rgba(13, 17, 23, 1); 
        transform: translateY(-2px);
    }
    
    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(207, 216, 220, 0.5);
    }
    
}

.hintIndicatorsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    background-color: rgb(0, 0, 0, 0.4); 
}

.hintIndicator {
    color: gold;
    margin: 5px;
    font-size: 34px;
    text-shadow: 2px 2px 8px rgb(255, 235, 104);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0, 0.7); 
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 40px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.close, .minimize {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px; 
}

.close {
    right: 10px;
    top: 5px;
}

.minimize {
    right: 40px;
    top: 5px;
}


.close:hover, .minimize:hover,
.close:focus, .minimize:focus {
    color: black;
    text-decoration: none;
    transform: scale(1.1);
}

.close:active, .minimize:active {
    transform: scale(0.9);
}


textarea {
    width: 100%;
    margin-bottom: 10px;
}


@media all and (min-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr 1fr; /* Two columns for larger screens */
    }
}
